<html>
<head>
<title>SUCCESS</title>
<style>  
   body
   	{
   		background-color:white;  
   	} 
   	marquee
   	{
   		font-size: 40px;
        font-weight: 400;
        color: black;
        font-family: sans-serif;
        width: 100%;
        padding: 1px 0 ;
        background-color:lightblue;
   	}	
    a
    {
    	font-size: 20px;
        font-weight: 200;
        color: blue;
        font-family: sans-serif;
    }        
</style>
</head>
<body>
	<marquee behavior="alternate" direction="right" scrollamount="10">LOGIN SUCCESSFULL</marquee>
	<a href="CheckBalance">Check Balance</a><br>
	<a href="transfer.html" >Transfer Amount</a><br>
	<a href="" >Apply Loan</a><br>
	<a href="changepassword.html" >Change Password</a><br>
	<a href="" >Get Statement</a><br>
	<a href="" >Logout</a>
</body>
</html>
